a {
  text-decoration: none;
  color: white;
}

h1 {
  margin: 0;
  background-color: blue;
  color: white;

}


.MainPage__BookCategories {
   display: flex;
   flex-wrap: wrap;
}

.MainPage__BookItems {
  width: 200px;
  margin-right: 20px;
}

.MainPage__bookWrapper {
  display: flex;
  justify-content: center;
}

.MainPage__BookImage {
  display: block;
  margin: auto;
  height: 200px;
}

.center-text {
  text-align: center;
}

.MainPage__bookTitle {
  margin-top: 5px;
  margin-bottom: 5px;
}

.remove-margin {
  margin: 0;
}

.searchpage__searchbuttonWrapper {
  display: flex;
  justify-content: center;
}

.SearchPage__SearchButton {
  width: 250px;
  height: 30px;
}

.searchpage__booklayout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mainpage__mainpagelinkWrapper,
.searchpage__mainPageLinkWrapper {
  display: flex;
  justify-content: flex-end;
  background-color: blue;
}

.MainPage__ShowShelfTransferImage {
  height: 50px;
  width: 50px;
  position: relative;
  top: -30px;
  left: 145px;
  border-radius: 5px;
}

.mainPage__bookInfoWrapper {
  position: relative;
  top: -50px;
}

.mainpage__select {
  overflow-y: hidden;
  position: relative;
  left: 20px;
  border-radius: 10px;
}

.mainpage__option:hover {
  background-color: aquamarine;
}
