:root {
  --route-header-background-color: blue;
  --route-header-color: white;
  --route-link-color: white;
  --main-page-option-color: aquamarine;
}

a {
  text-decoration: none;
  color: var(--route-link-color);
}

h1 {
  margin: 0;
  background-color: var(--route-header-background-color);
  color: var(--route-header-color);
}

.center-text {
  text-align: center;
}


.main-page__book-categories {
   display: flex;
   flex-wrap: wrap;
}

.main-page__book-items {
  width: 200px;
  margin-right: 20px;
}

.main-page__book-wrapper {
  display: flex;
  justify-content: center;
}

.main-page__book-image {
  display: block;
  margin: auto;
  height: 200px;
}


.main-page__book-title {
  margin-top: 5px;
  margin-bottom: 5px;
}

.remove-margin {
  margin: 0;
}

.main-page__show-shelf-transfer-image {
  height: 50px;
  width: 50px;
  position: relative;
  top: -30px;
  left: 145px;
  border-radius: 5px;
}

.main-page__book-info-wrapper {
  position: relative;
  top: -50px;
}

.main-page__select {
  overflow-y: hidden;
  position: relative;
  left: 20px;
  border-radius: 10px;
}

.main-page__option:hover {
  background-color: var(--main-page-option-color);
}

.main-page__main-page-link-wrapper,
.search-page__main-page-link-wrapper {
  display: flex;
  justify-content: flex-end;
  background-color: var(--route-header-background-color);
}

.search-page__search-button-wrapper {
  display: flex;
  justify-content: center;
}

.search-page__search-button {
  width: 250px;
  height: 30px;
}

.search-page__book-layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}